body{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.bg{
    display: flex;
    flex-direction: column;
    height: 100;
}

.navbar{
    padding: 5px 5vw;
    /* height: 10vh; */
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9446e2;
    color: white;
}

.menu{
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu-item{
    list-style-type: none;
}

.menu-item a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.menu-item a:hover{
    text-decoration: underline;
}

.login{
    padding: 8px 0px;
    margin-right: 10px;
    border: 2px solid rgba(255, 255, 255, 0);
    text-decoration: none;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-weight: bold;
}

.login:hover{
    border-bottom: 2px solid white;
}

.signup{
    padding: 8px 16px;
    border: 1px solid #9446e2;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    background-color: white;
    color: #9446e2;
    font-weight: bold;
}

.signup:hover{
    background-color: #9446e2;
    color: white;
    border: 1px solid white;
}

.body{
    background-color: white;
    flex-grow: 1;
    padding: 20px 5vw;
}

.body .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notes-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
}

/* Category Section */
.item .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Remove default margins inside category and title-row */
.item .category h4,
.item .title-row h3 {
    margin: 0;
}

/* Title Row */
.item .title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.icons{
    display: flex;
    gap: 4px;
}

.icons i{
    border: 1px solid #9446e2;
    padding: 2px;
    border-radius: 4px;
}

.icons i:hover{
    cursor: pointer;
    border: 1px solid white;
}

.item{
    background-color: #9446e2;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.item div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-div{
    display: flex;
    gap: 8px;
    font-size: small;
}

.custom-div button{
    border: 2px solid #9446e2;
    border-radius: 4px;
    padding: 2px 4px;
    background: none;
    color: white;
}

.custom-div button:hover{
    border: 2px solid white;
    cursor: pointer;
}

.addnote{
    padding: 8px 16px;
    border: 2px solid #9446e2;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    background-color: white;
    color: #9446e2;
    font-weight: bold;
}

.addnote:hover{
    background-color: #9446e2;
    color: white;
}

.notes-template{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto; */
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.item-template{
    display: flex;
    flex-direction: column; 
    color: #9446e2;
    /* padding: 20px; */
    /* border: 2px solid #9446e2; */
    border-radius: 8px;
    gap: 10px;
    width: 40vw;
}

.item-template label{
    font-weight: bold;
    padding-bottom: 8px;
}

.item-template input, select{
    padding: 8px 10px;
    border: 1px solid;
}

.item-template div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-template input:focus{
    outline: none;
    border: 2px solid #9446e2;
}

.item-template textarea{
    padding: 8px 10px;
}

.item-template textarea:focus{
    outline: none;
    border: 2px solid #9446e2;
}

.item-template button{
    padding: 8px 16px;
    border: 1px solid #9446e2;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    background-color: white;
    color: #9446e2;
    font-weight: bold;
}

.item-template button:hover{
    background-color: #9446e2;
    color: white;
    border: 1px solid white;
}

.id{
    display: none;
}